.form {
  &__wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;

    & label {
      font-weight: bold;
    }

    & input {
      padding: 5px;
      font-size: 1.2rem;
    }
  }

  &__remember {
    display: flex;
    align-items: center;

    & label {
      margin-left: 0.25rem;
    }
  }

  &--submitBtn {
    border: none;
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    background-color: #00bc77;
    color: #fff;
  }
}
